<!DOCTYPE html>
<html>
    <head>
        <title>bubble speech</title>
        <link href="bubblespeech.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <table class="wg" wgid="py5wt15q1">
            <tbody>
                <tr class="bd">
                    <td class="left"></td>
                    <td class="mid">
                        <div class="row-fluid">
                            <div class="span6                        ">
                                <span>
                                    <div style="" class="speech-bubble-number-small speech-bubble-severity-critical">
                                        <span></span>                                
                                        <p>8</p>
                                    </div>
                                    <div class="speech-bubble-content-small speech-bubble-content-highlight">
                                        <span></span>                                
                                        <p>Critical</p>
                                    </div>
                                </span>
                                <span>
                                    <div style="" class="speech-bubble-number-small speech-bubble-severity-high">
                                        <span></span>                                
                                        <p>8</p>
                                    </div>
                                    <div class="speech-bubble-content-small">
                                        <span></span>                                
                                        <p>high</p>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </td>
                    <td class="right"></td>
                </tr>
                <tr class="bd">
                    <td class="left"></td>
                    <td class="mid">
                        <div class="row-fluid">
                            <div class="span12" style="/* float: left; */
                                /* position: relative; */
                                ">
                                <span>
                                    <div style="/* float: left; */
                                        " class="speech-bubble-number-large speech-bubble-severity-critical">
                                        <span></span>                                
                                        <p>8</p>
                                    </div>
                                    <div class="speech-bubble-content-large" style="/* float: left; */
                                        ">
                                        <span></span>                                
                                        <p>Critical</p>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </td>
                    <td class="right"></td>
                </tr>
                <tr class="bd">
                    <td class="left"></td>
                    <td class="mid">
                        <div class="row-fluid">
                            <div class="span1"></div>
                            <div class="span11">
                                <span>
                                    <div style="" class="speech-bubble-number-middle speech-bubble-severity-critical">
                                        <span></span>                                
                                        <p>8</p>
                                    </div>
                                    <div class="speech-bubble-content-middle">
                                        <div class="row-fluid">
                                            <div class="span2" style="float: left;">
                                                <p>ips</p>
                                            </div>
                                            <div class="span4" style="float: left;
                                                "></div>
                                            <div class="span2" style="float: left;
                                                ">
                                                <span></span>                                        
                                                <p><button class="btn btn-small" style="/* margin-left: 5px; */                                            min-width: 0;                                            float:right;" ng-click="openGlobalDrilldown()" title="" data-toggle="tooltip" data-original-title="Display data behind this chart">logs</button></p>
                                            </div>
                                            <div class="span2" style="float: left;
                                                ">
                                                <span></span>                                        
                                                <p><button class="btn btn-small" style="/* margin-left: 5px; */                                            min-width: 0;                                            float:right;" ng-click="openGlobalDrilldown()" title="" data-toggle="tooltip" data-original-title="Display data behind this chart">logs</button></p>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </td>
                    <td class="right"></td>
                </tr>
                <tr class="ft">
                    <td class="left"></td>
                    <td class="mid"></td>
                    <td class="right"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
